name: "Coverage"

on:
  pull_request:
  workflow_dispatch:

  push:
    branches: ["*"]

  schedule:
    - cron: "0 9 * * 1"

jobs:
  coverage:
    name: "Coverage"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - uses: shivammathur/setup-php@master
        with:
          php-version: "8.2"
          coverage: pcov
          tools: composer:v2

      - run: composer update --no-interaction --no-progress --prefer-dist --prefer-stable --ignore-platform-req=ext-newrelic

      - run: make coverage
