name: "Coverage"

on:
  pull_request:
  workflow_dispatch:

  push:
    branches: ["*"]

  schedule:
    - cron: "0 9 * * 1"

jobs:
  coverage:
    name: "Coverage"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - uses: shivammathur/setup-php@master
        with:
          php-version: "8.2"
          coverage: pcov
          tools: composer:v2

      - name: Add NewRelic APT source
        run: echo 'deb http://apt.newrelic.com/debian/ newrelic non-free' | sudo tee /etc/apt/sources.list.d/newrelic.list

      - name: Add NewRelic APT key
        run: wget -O- https://download.newrelic.com/548C16BF.gpg | sudo apt-key add -

      - name: Update APT
        run: sudo apt-get update

      - name: Install NewRelic PHP extension
        run: sudo apt-get -y install newrelic-php5

      - run: composer update --no-interaction --no-progress --prefer-dist --prefer-stable

      - run: make coverage
