name: "QA"

on:
  pull_request:
  workflow_dispatch:

  push:
    branches: ["*"]

  schedule:
    - cron: "0 10 * * 1"

jobs:
  qa:
    name: "Quality Assurance"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - uses: shivammathur/setup-php@master
        with:
          php-version: "8.2"
          coverage: none
          tools: composer:v2, cs2pr

      - run: composer update --no-interaction --no-progress --prefer-dist --prefer-stable --ignore-platform-req=ext-newrelic

      - run: make qa
