name: "Tests"

on:
  pull_request:
  workflow_dispatch:

  push:
    branches: ["*"]

  schedule:
    - cron: "0 10 * * 1"

jobs:
  tests:
    name: "Tests"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php:
          - "8.2"
          - "8.3"
          - "8.4"
          - "8.5"

      fail-fast: false

    steps:
      - uses: actions/checkout@master

      - uses: shivammathur/setup-php@master
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          tools: composer:v2

      - name: Add NewRelic APT source
        run: echo 'deb http://apt.newrelic.com/debian/ newrelic non-free' | sudo tee /etc/apt/sources.list.d/newrelic.list

      - name: Add NewRelic APT key
        run: wget -O- https://download.newrelic.com/548C16BF.gpg | sudo apt-key add -

      - name: Update APT
        run: sudo apt-get update

      - name: Install NewRelic PHP extension
        run: sudo apt-get -y install newrelic-php5

      - run: composer update --no-interaction --no-progress --prefer-dist --prefer-stable

      - run: make tests

      - if: failure()
        run: for i in $(find tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done
        shell: bash

  tests-lowest:
    name: "Tests Lowest"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - uses: shivammathur/setup-php@master
        with:
          php-version: "8.2"
          coverage: none
          tools: composer:v2

      - name: Add NewRelic APT source
        run: echo 'deb http://apt.newrelic.com/debian/ newrelic non-free' | sudo tee /etc/apt/sources.list.d/newrelic.list

      - name: Add NewRelic APT key
        run: wget -O- https://download.newrelic.com/548C16BF.gpg | sudo apt-key add -

      - name: Update APT
        run: sudo apt-get update

      - name: Install NewRelic PHP extension
        run: sudo apt-get -y install newrelic-php5

      - run: composer update --no-interaction --no-progress --prefer-dist --prefer-stable --prefer-lowest

      - run: make tests

      - if: failure()
        run: for i in $(find tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done
        shell: bash
